@model MyEvernote.Entities.Note

@{
    ViewBag.Title = "Kategori Sil";
}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Kategori Sil</h3>
            <hr />
            <h4>Bu kaydı silmek istediğinize emin misiniz?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDraft)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LikeCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedUsurname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedUsurname)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span>Sil</button>
                    @*@Html.ActionLink("Geri Dön", "Index", "Category", null, new { @class = "btn btn-default" })*@
                    <a href="/Note/Index" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span> Geri Dön</a>
                </div>
            }
        </div>
    </div>

